<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      
      <li class="nav-item"><a href="https://www.instagram.com/faiziz___/" 
        class="nav-link px-2 text-body-secondary">Instagram</a></li>
      
      <li class="nav-item"><a href="https://www.facebook.com/farshad3137/" 
        class="nav-link px-2 text-body-secondary">Facebook</a></li>
      
      <li class="nav-item"><a href="https://github.com/Immuhammadfaizan/careers-website" 
        class="nav-link px-2 text-body-secondary">GitHub</a></li>
      
      <li class="nav-item"><a href="https://www.linkedin.com/in/muhammad-faizan-7299431b1/" 
        class="nav-link px-2 text-body-secondary">LinkedIn</a></li>
        
      </ul>
    <p class="text-center text-body-secondary">&copy; 2024 Company, Inc</p>
  </footer>
</div>