<div class="mb-3 border-bottom p-2 row">
    <div class="col-11">
        <h4 style="color: grey;" class="mb-2">
            {{data['title']}}
        </h4>
        <div>
            <b>Location:</b> {{data['location']}}
        </div>
        {% if 'salary' in data %}
        <div>
            <b>Salary:</b>  {{data['salary']}}
        </div>
        {% endif %}
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-primary">Apply</button>
    </div>
    
</div>
